<section class="tab-section upload-section main-dashboard" id="tab-section">
    <div class="main-container container">
        <h2 *ngIf="title" class="common-heading section-head txt-center ">{{title}} </h2>
        <div libTabs  (tabChanged)="onTabChange($event)">
            <ng-template [libTab]="'Upload'" [libTabActive]="activeTab === 'Upload'">
                <form [formGroup]="storyForm" (ngSubmit)="onSubmit()">
                    <div class="input-main-wrapper">

                        <div class="input-box input-form">
                            <input libTextSpecial class="input-style add-astrix" [libLabelText]="['#333', 'Headline']"
                                libUiUnderline libRequired formControlName="headline" placeholder="Enter your Headline"
                                maxlength="100" libTextarea="100" style="height: 33px;" />
                        </div>
                        <!-- <div class="input-box input-form">
                            <textarea class="input-style add-astrix" [libLabelText]="['#333', 'Story Description']"
                                libTextarea="1000" libRequired placeholder="Enter your Description..."
                                formControlName="storyDescription"></textarea>
                        </div> -->
                        <div class="input-box input-form">
                            <input type="text" class="input-style" [libLabelText]="['#333', 'Link']" libUiUnderline
                                formControlName="link" placeholder="Enter your Link" />
                            <span class="errorMsg" style="margin: 6px 0;"
                                *ngIf="storyForm.get('link')?.touched && storyForm.get('link')?.errors?.['pattern']">
                                Please enter a valid link
                            </span>
                        </div>
                        <div class="input-box input-form">
                            <!-- <select class="input-style" [libSelect]="mediaOptions"
                                [libLabelText]="['#333', 'Image/Video']" libRequired
                                formControlName="mediaType" (change)="allowedExtensions"></select> -->
                            <select class="input-style add-astrix" [libSelect]="mediaOptions"
                                [libLabelText]="['#333', 'Image/Video']" libRequired formControlName="mediaType"
                                (change)="onMediaTypeChange($event)">
                            </select>
                        </div>
                        <!-- <div class="input-box input-form"></div> -->
                        <div class="input-box input-form">
                            <ng-container>
                                <input libFileuploadNU [allowedExtensions]="allowedExtensions"  [enableDownload]="false" [maxFileSizeMB]="30"
                                    [labelConfig]="['#333', 'Choose File']" formControlName="attachment1"
                                    controlName="attachment1" (fileSelected)="onFileChange($event, 'attachment1')"
                                    (fileDownload)="onFileDownload($event)" (fileCleared)="onRemove('attachment1')" />
                                <div class="errorMsg" style="margin: 6px 0;" *ngIf="storyForm.get('attachment1')?.errors?.['uploadFailed'] 
                                    && storyForm.get('attachment1')?.touched">
                                    This is a required field.
                                </div>
                            </ng-container>

                            <!-- <ng-container *ngIf="isvideo">
                                <div style="margin-top: 10px;">
                                    <span>OR</span>
                                    <input type="text" class="input-style"
                                        [libLabelText]="['#333', 'External Link (optional)']" libUiUnderline
                                        formControlName="externalLink" placeholder="Enter Media Link" />
                                </div>
                            </ng-container> -->

                            <ng-container *ngIf="isvideo && category !== 'employeeconnect'">
                                <div style="margin-top:5px;">
                                    <span style="padding:7px 0;display: inline-block;">OR</span>
                                    <input type="text" class="input-style"
                                        [libLabelText]="['#333', 'External Link (optional)']" libUiUnderline
                                        formControlName="externalLink" placeholder="Enter your Link" />
                                    <span class="errorMsg"
                                        *ngIf="storyForm.get('externalLink')?.touched && storyForm.get('externalLink')?.invalid && storyForm.get('externalLink')?.errors?.['pattern']">
                                        Please enter a valid link
                                    </span>
                                </div>
                                <div class="errorMsg" style="margin: 6px 0;" *ngIf="storyForm.get('externalLink')?.invalid 
                                        && storyForm.get('externalLink')?.touched">

                                    <span *ngIf="storyForm.get('externalLink')?.errors?.['maxlength']">
                                        Maximum 1000 characters allowed.
                                    </span>
                                </div>

                            </ng-container>
                        </div>
                    </div>
                    <div class="submit-btn-wrapper">
                        <div class="btn-submit">
                            <button type="button" class="reset" (click)="onReset()">reset</button>
                            <button type="submit" class="reset red-btn">submit</button>
                        </div>
                    </div>
                </form>
            </ng-template>

            <ng-template [libTab]="'Posted Content'" [libTabActive]="activeTab === 'Posted Content'">

                <div class="bg-white">
                    <a>
                        <div *ngFor="let story of postedStories" class="blogsBlock">
                            <div class="blogs">
                                <div class="blog-left"
                                    (click)="empconnect(story.id, postedStories , story.category, 'Posted Content')">
                                    <ng-container *ngIf="story.fileName.startsWith('https://'); else localMedia">
                                        <div class="caro-img-wrap">
                                            <!-- <app-universal-video [url]="story.fileName"></app-universal-video> -->
                                            <div *ngIf="story.type === 'Video' || story.fileName.startsWith('https://')"
                                                class="vid-box">
                                                <div class="play-overlay">
                                                    <i class="fa fa-play"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-container>
                                    <ng-template #localMedia>
                                        <ng-container *ngIf="isVideo(story.fileName); else imageTemplate">
                                            <div class="caro-img-wrap">
                                                <!-- <video class="vid-new" controls #videoEl>
                                            <source [src]="url +  story.folder + '/' + story.fileName" type="video/mp4">
                                        </video> -->

                                                <div *ngIf="story.type === 'Video' || story.fileName.startsWith('https://')"
                                                    class="vid-box">
                                                    <div class="play-overlay">
                                                        <i class="fa fa-play"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </ng-container>
                                        <ng-template #imageTemplate>
                                            <div class="img-wrp">
                                                <img class="file-icon img-widfirst caro-img"
                                                    [src]="url +  story.folder + '/' + story.fileName">
                                            </div>
                                        </ng-template>
                                    </ng-template>
                                </div>
                                <!-- <div class="blog-left"
                                (click)="empconnect(story.id, postedStories, story.category, 'Posted Content')">

                            
                            <ng-container *ngIf="story.mediaType === 'Video'; else imageCase">

                               
                                <ng-container *ngIf="isUrl(story.fileName); else localVideo">
                                <div class="caro-img-wrap">
                                    
                                    <iframe
                                    width="100%"
                                    [src]="transform(story.fileName)"
                                    frameborder="0"
                                    allowfullscreen>
                                    </iframe>
                                </div>
                                </ng-container>

                                
                                <ng-template #localVideo>
                                <div class="caro-img-wrap">
                                    <video class="vid-new" controls>
                                    <source
                                        [src]="url + story.folder + '/' + story.fileName"
                                        type="video/mp4">
                                    </video>
                                </div>
                                </ng-template>

                            </ng-container>

                            
                            <ng-template #imageCase>
                                <img class="file-icon img-widfirst caro-img"
                                    [src]="isUrl(story.fileName) ? story.fileName : url + story.folder + '/' + story.fileName"
                                    [alt]="story.header">
                            </ng-template>

                            </div> -->

                                <div class="blog-right">
                                    <h5 class="blogs-head story-header"
                                        (click)="empconnect(story.id, postedStories , story.category, 'Posted Content')">
                                        {{story.header}}</h5>

                                    <!-- <div class="story-description-wrapper">
                                        <p class="story-poster story-header">{{ story.description }}</p>
                                        <span class="read-more" (click)="empconnect(story.id, postedStories , story.category, 'Posted Content')">read more</span>
                                </div> -->
                                    <div class="story-poster ">
                                        {{ (story.description || '') |
                                        slice:0:sliceCount }}<ng-container
                                            *ngIf="story.description?.length > sliceCount">...</ng-container>
                                        <span class="read-more" *ngIf="story.description?.length > sliceCount"
                                            (click)="empconnect(story.id, postedStories , story.category, 'Posted Content')">
                                            read more
                                        </span>
                                    </div>
                                    <div class="story-date">{{story.createdOn}}</div>
                                    <div class="stroy-likes">
                                        <img [src]="story.self ? 'asset/images/like_30x30_fill_red.png' : 'asset/images/like_30x30_fill_grey.png'"
                                            alt="like image" />
                                        <p class="stroy-likes-count">{{story.totalLikes}}</p>
                                        <!-- <p class="stroy-likes-count" (click)="getLikes(story.id)">{{story.totalLikes}}</p> -->
                                    </div>

                                </div>
                            </div>

                            <!-- ✅ Dynamic Button Section -->
                            <div class="publish-wrapper">
                                <div class="btn-submit">
                                    <!-- <p>Status :
                                            <span>
                                                {{ story.status === 'L' ?
                                                'Pending' : story.status === 'P'
                                                ? 'Published' : 'Archived' }}
                                            </span>
                                        </p> -->

                                    <button type="button" class="reset my-sub" [ngClass]="{
                                                            'red-btn': story.status === 'L',
                                                            'green-btn': story.status === 'P',
                                                            'gray-btn': story.status === 'X' 
                                                        }">
                                        {{ story.status === 'L' ?
                                        'Pending' : story.status === 'P'
                                        ? 'Published' : 'Archived' }}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </a>

                    <div *ngIf="postedStories.length === 0" class="no-data-center">
                        No Content Available
                    </div>
                </div>

            </ng-template>

            <ng-template [libTab]="'My Submission'" [libTabActive]="activeTab === 'My Submission'">
                <div class="bg-white">
                    <a>
                        <div *ngFor="let story of myStories" class="blogsBlock">
                            <div class="blogs">
                                <div class="blog-left"
                                    (click)="empconnect(story.id, myStories , story.category, 'My Submission')">
                                    <ng-container *ngIf="story.fileName.startsWith('https://'); else localMedia">
                                        <div class="caro-img-wrap">
                                            <!-- <app-universal-video [url]="story.fileName"></app-universal-video> -->
                                            <div *ngIf="story.type === 'Video' || story.fileName.startsWith('https://')"
                                                class="vid-box">
                                                <div class="play-overlay">
                                                    <i class="fa fa-play"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-container>
                                    <ng-template #localMedia>
                                        <ng-container *ngIf="isVideo(story.fileName); else imageTemplate">
                                            <div class="caro-img-wrap">
                                                <!-- <video class="vid-new" controls #videoEl>
                                                    <source [src]="url + story.folder + '/' + story.fileName"
                                                        type="video/mp4" />
                                                </video> -->

                                                <div *ngIf="story.type === 'Video' || story.fileName.startsWith('https://')"
                                                    class="vid-box">
                                                    <div class="play-overlay">
                                                        <i class="fa fa-play"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </ng-container>
                                        <ng-template #imageTemplate>
                                            <div class="img-wrp">
                                                <img class="file-icon img-widfirst caro-img"
                                                    [src]="url + story.folder + '/' + story.fileName" />
                                            </div>
                                        </ng-template>
                                    </ng-template>
                                </div>

                                <div class="blog-right">
                                    <h5 class="blogs-head story-header"
                                        (click)="empconnect(story.id, myStories , story.category, 'My Submission')">{{
                                        story.header}}</h5>
                                    <!-- <div class="story-description-wrapper">
                                                <p class="story-poster story-header" >{{ story.description }}</p>
                                                <span class="read-more" (click)="empconnect(story.id, myStories , story.category, 'My Submission')">read more</span>
                                        </div> -->
                                    <div class="story-poster ">
                                        {{ (story.description || '') |
                                        slice:0:sliceCount }}
                                        <ng-container *ngIf="story.description?.length > sliceCount">...</ng-container>
                                        <span class="read-more" *ngIf="story.description?.length > sliceCount"
                                            (click)="empconnect(story.id, myStories , story.category, 'My Submission')">
                                            read more
                                        </span>
                                    </div>
                                    <div class="story-date">{{
                                        story.createdOn }}</div>
                                    <div class="stroy-likes">
                                        <img [src]="story.self ? 'asset/images/like_30x30_fill_red.png' : 'asset/images/like_30x30_fill_grey.png'"
                                            alt="like image" />
                                        <p class="stroy-likes-count">{{story.totalLikes }}</p>
                                        <!-- <p class="stroy-likes-count" (click)="getLikes(story.id)">{{
                                            story.totalLikes }}</p> -->
                                    </div>
                                </div>
                            </div>

                            <!-- ✅ Dynamic Button Section -->
                            <div class="publish-wrapper">
                                <div class="btn-submit">
                                    <!-- <p>Status :
                                            <span>
                                                {{ story.status === 'L' ?
                                                'Pending' : story.status === 'P'
                                                ? 'Published' : 'Archived' }}
                                            </span>
                                        </p> -->

                                    <button type="button" class="reset my-sub" [ngClass]="{
                                                            'red-btn': story.status === 'L',
                                                            'green-btn': story.status === 'P',
                                                            'gray-btn': story.status === 'X'
                                                        }">
                                        {{ story.status === 'L' ?
                                        'Pending' : story.status === 'P'
                                        ? 'Published' : 'Archived' }}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </a>
                    <div *ngIf="myStories.length === 0" class="no-data-center">
                        No Content Available
                    </div>
                </div>
            </ng-template>

            <ng-template *ngIf="isAdmin" [libTab]="'Publish Content'" [libTabActive]="activeTab === 'Publish Content'">
                <div class="bg-white">
                    <a>
                        <div *ngFor="let story of allStories" class="blogsBlock">
                            <div class="blogs">
                                <div class="blog-left"
                                    (click)="empconnect(story.id, allStories , story.category, 'Publish Content')">
                                    <ng-container *ngIf="story.fileName.startsWith('https://'); else localMedia">
                                        <div class="caro-img-wrap">
                                            <!-- <app-universal-video [url]="story.fileName"></app-universal-video> -->
                                            <div *ngIf="story.type === 'Video' || story.fileName.startsWith('https://')"
                                                class="vid-box">
                                                <div class="play-overlay">
                                                    <i class="fa fa-play"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-container>
                                    <ng-template #localMedia>
                                        <ng-container *ngIf="isVideo(story.fileName); else imageTemplate">
                                            <div class="caro-img-wrap">
                                                <!-- <video class="vid-new" controls #videoEl>
                                                    <source [src]="url + story.folder + '/' + story.fileName"
                                                        type="video/mp4" />
                                                </video> -->

                                                <div *ngIf="story.type === 'Video' || story.fileName.startsWith('https://')"
                                                    class="vid-box">
                                                    <div class="play-overlay">
                                                        <i class="fa fa-play"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </ng-container>
                                        <ng-template #imageTemplate>
                                            <div class="img-wrp">
                                                <img class="file-icon img-widfirst caro-img"
                                                    [src]="url + story.folder + '/' + story.fileName" />
                                            </div>
                                        </ng-template>
                                    </ng-template>
                                </div>

                                <div class="blog-right">
                                    <h5 class="blogs-head story-header"
                                        (click)="empconnect(story.id, allStories , story.category, 'Publish Content')">
                                        {{ story.header}}</h5>
                                    <!-- <div class="story-description-wrapper">
                                                <p class="story-poster story-header" >{{ story.description }}</p>
                                                <span class="read-more" (click)="empconnect(story.id, allStories , story.category, 'Publish Content')">read more</span>
                                        </div> -->

                                    <div class="story-poster ">
                                        {{ (story.description || '') |
                                        slice:0:sliceCount }}
                                        <ng-container *ngIf="story.description?.length > sliceCount">...</ng-container>
                                        <span class="read-more" *ngIf="story.description?.length > sliceCount"
                                            (click)="empconnect(story.id, allStories , story.category, 'Publish Content')">
                                            read more
                                        </span>
                                    </div>
                                    <div class="story-date">{{ story.createdOn
                                        }}</div>
                                    <div class="stroy-likes">
                                        <img [src]="story.self ? 'asset/images/like_30x30_fill_red.png' : 'asset/images/like_30x30_fill_grey.png'"
                                            alt="like image" />
                                        <p class="stroy-likes-count" (click)="getLikes(story)">{{
                                            story.totalLikes }}</p>
                                    </div>
                                </div>
                            </div>

                            <!-- ✅ Dynamic Button Section -->
                            <div class="publish-wrapper">
                                <div class="btn-submit">

                                    <p>Status :
                                        <span>
                                            {{ story.status === 'L' ? 'Pending'
                                            : story.status === 'P' ? 'Published'
                                            :
                                            'Archived' }}
                                        </span>
                                    </p>

                                    <!-- ✅ Hide button after actionSuccess -->
                                    <button *ngIf="!story.actionSuccess" type="button" class="reset" [ngClass]="{
                                        'green-btn': story.status === 'L',
                                        'gray-btn': story.status === 'P',
                                        'red-btn': story.status === 'X'
                                    }" (click)="handleStoryAction(story)">
                                        {{ story.status === 'L' ? 'Publish'
                                        : story.status === 'P' ? 'Archive'
                                        : 'Republish' }}
                                    </button>

                                    <!-- ✅ Show Success Message -->
                                    <p *ngIf="story.actionSuccess" class="action-success-msg">
                                        ✅ {{ story.actionSuccess }}
                                    </p>

                                </div>
                            </div>

                        </div>
                    </a>
                    <div *ngIf="allStories.length === 0" class="no-data-center">
                        No Content Available
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</section>

<ng-template #likes>
    <div class="likesmodel">
        <h4>Likes</h4>
        <div class="user-list">
            <div class="row" *ngFor="let user of likedUser">
                <div class="col user-name"> {{ user.name }}</div>

                <div class="col">
                    <span class="col user-time">{{ user.likedOn }}</span>
                    <i class="fa-solid fa-thumbs-up"></i>
                </div>
            </div>
            <div class=" no-data-center" *ngIf="!likedUser">
                No Likes
            </div>
        </div>
    </div>
</ng-template>

<!-- ✅ Fullscreen Image Modal -->
<div class="overlay" *ngIf="selectedImage" (click)="closeImage()">
    <div class="overlay-content">
        <img [src]="selectedImage" alt="Full image" class="fullscreen-img">
    </div>
</div>
<!-- Popup -->
<ng-container *ngIf="likeshowPopup">
    <ng-container [libPopup]="likes" [popupWidth]="'350px'" [popupHeight]="'40vh'" (closed)="likesPopupClose()">
    </ng-container>
</ng-container>
<!-- popup -->