<!-- <footer id="footer" [ngClass]="{ 'fixed-footer': isAtTop, 'static-footer': !isAtTop }"> -->
  <footer id="footer">
  <div class="container">
    <div class="footer-wrap">
      <div class="logo-wrap">
        <img src="asset/images/TOI-logo-white_2.png" alt="Times-logo" width="181" height="77">
      </div>
      <div class="footer-links">
        <ul>
          <!-- <li class="footer-list"><a href="https://bccl.in/" target="_blank">bccl.in</a></li> -->
          <!-- <li class="footer-list"><a href="#">Privacy Policy</a></li>
          <li class="footer-list"><a href="#">Terms and Condition</a></li> -->
        </ul>
        <p class="txt-right">Copyright &#169; 2025 Bennett, Coleman & Co. Ltd. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
