<!-- <div class="header">
<div class="logo" [routerLink]="['/portal/scholarship/toi-education']" routerLinkActive="router-link-active" >
    <img src="logo/new_logo.jpeg" alt="">
</div>
<div [libMenuBar]="['right', menu]"></div>
</div> -->

<div class="d-flex align-items-center p-2 form-title">
  <div class="col">
    <h5 class="text-center">CHECK STATUS</h5>
  </div>
</div>

<div class="p-3 ">
    <div *ngIf="tableData.length" [libCustomTableNU]="tableData" [columns]="tableColumns"></div>
</div>


<!-- Student Details Modal -->
<div class="modal fade" id="studentDetailsModal" tabindex="-1" aria-labelledby="studentDetailsModalLabel" aria-hidden="true"> 
  <div class="modal-dialog modal-xl modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="studentDetailsModalLabel">Student Application Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <div class="container-fluid">
          <!-- Application ID -->
          <div class="row mb-4">
            <div class="col-12">
              <div class="field-box">
                <label class="form-label">Application ID</label>
                <div class="value">{{ selectedStudentDetails.applicationId }}</div>
              </div>
            </div>
          </div>

         <div class="row g-3">
            <!-- Loop for normal fields -->
            <div class="col-md-3 col-sm-6" *ngFor="let field of fieldList" 
                [ngClass]="{ 'd-none': field.key.startsWith('doc') }">
                <ng-container *ngIf="selectedStudentDetails[field.key] && !field.key.startsWith('doc')">
                <div class="field-box">
                    <label class="form-label">{{ field.label }}</label>
                    <div class="value">{{ selectedStudentDetails[field.key] }}</div>
                </div>
                </ng-container>
            </div>

            <!-- Handle docs separately so they don’t leave gaps -->
            <div class="col-md-3 col-sm-6" *ngIf="selectedStudentDetails.doc1">
                <div class="field-box">
                <label class="form-label">Student Marksheet</label>
                <div class="value" role="button" (click)="downloadDocument(selectedStudentDetails.doc1)">
                    {{ selectedStudentDetails.doc1 }}
                </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6" *ngIf="selectedStudentDetails.doc2">
                <div class="field-box">
                <label class="form-label">Admission Letter</label>
                <div class="value" role="button" (click)="downloadDocument(selectedStudentDetails.doc2)">
                    {{ selectedStudentDetails.doc2 }}
                </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6" *ngIf="selectedStudentDetails.doc3">
                <div class="field-box">
                <label class="form-label">Special Student supporting document</label>
                <div class="value" role="button" (click)="downloadDocument(selectedStudentDetails.doc3)">
                    {{ selectedStudentDetails.doc3 }}
                </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6" *ngIf="selectedStudentDetails.doc4 && !selectedStudentDetails.doc3">
                <div class="field-box">
                <label class="form-label">National / State Level Achievement Certificate</label>
                <div class="value" role="button" (click)="downloadDocument(selectedStudentDetails.doc4)">
                    {{ selectedStudentDetails.doc4 }}
                </div>
                </div>
            </div>
            </div>

        </div>
      </div>
      <div class="modal-footer justify-content-center">
        <button class="btn btn-custom" (click)="printStudentDetails()">
           DOWNLOAD AS PDF
        </button>
      </div>

    </div>
  </div>
</div>


<div id="printArea">
  <div class="print-header">
    <h2>Student Application Details</h2>
  </div>
  <div class="print-content print-grid">
     <div class="print-field print-full">
      <label>Application ID</label>
      <div class="value">{{ selectedStudentDetails.applicationId }}</div>
    </div>

    <div class="print-field" *ngFor="let field of fieldList" >
      <label *ngIf="selectedStudentDetails[field.key]">{{ field.label }}</label>
      <div *ngIf="selectedStudentDetails[field.key]" class="value">{{ selectedStudentDetails[field.key] }}</div>
    </div>
  </div>

  <div class="print-footer">
    Generated on {{ today | date }}
  </div>

</div>


<ng-template #chequemodal>
 <div class="modal-content">
      <div class="modal-header">
        <h5>Upload Cheque</h5>
      </div>
      <div class="modal-body">
        <form [formGroup]="studentForm">
          <div  id="center" class="d-flex justify-content-center align-items-center">
            <input 
            #fileInput
            libFileupload 
            libRequired
            class="textBlack"  
            [allowedExtensions]="['.svg', '.pdf', '.jpg' , '.jpeg', '.png']"
            [libLabelText]="['#000', 'Cheque']" 
            formControlName="cheque" 
            (fileSelected)="onFileChange($event, 'cheque')" 
            (fileDownload)="onFileDownload($event)"
            (fileCleared)="onRemove('cheque')" />
          </div>
        </form>
      </div>
      <div class="modal-footer mb-3">
        <!-- <button type="button" class="btn btn-custom">Submit</button> -->
        <button type="button" class="btn btn-custom"  (click)="chequemodalClose()">OK</button>
      </div>
    </div>
</ng-template>

<ng-container *ngIf="showCheque">
    <ng-container [libPopup]="chequemodal" [popupWidth]="'350px'" [popupHeight]="'270px'" (closed)="chequemodalClose()">
    </ng-container>
</ng-container>

<router-outlet></router-outlet>